

body{
    width: 1160px;
    margin: auto;
    border-right:1px solid black;
}

header{
    display: flex;
    flex-direction: column;
}

    #photo-nom{
        flex-basis: row;
        background-color: #782221;
        padding: 3em;
        text-align: center;
    }

    #photo-nom > img{
        width: 10em;
        height: 10em;
        border-radius: 50%;
        box-shadow: 0 0 12px #dbc2a4;
    }

    #photo-nom > img:hover{
        cursor: zoom-in;
    }

    #contact{
        background-color: #2c1d27;
        padding-right: 3em;
    }

    #contact ul{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    #contact li a{
        outline: none;
        text-decoration: none;
        color: white;
    }

    #contact li a:hover{
        text-decoration: underline;
    }

main{
    display: flex;
    flex-direction: row
}

    #colonne-gauche{
        background-color: #782221;
        order: 1;
        flex-basis: 25%;
        padding: 2em 2em 2em 0;
    }

    #colonne-droite{
        color: black;
        order: 2;
        flex-basis: 75%;
        padding: 2em;
    }

    .a-propos{
        padding-left: 1.5em;
        text-indent: 3em;
        text-align: justify;
        text-justify: inter-word;
    }

footer{
    display: flex;
    flex-direction: column;
}

    #social{
        display: flex;
        justify-content: center;
        background-color: #782221;
        padding-right: 3em;
    }

    #social ul{
        display: flex;
        list-style-type: none;
    }

    footer a:hover{
        opacity: 0.7;
    }

    #pied{
        background-color: #782221;
        padding: 1em;
        text-align: center;
    }